@import '~@angular/material/_theming.scss';

// NOTE: Theming is currently experimental and not yet publically released!

@include mat-core();

$primary:  mat-palette($mat-light-blue);
$accent	:  mat-palette($mat-teal,A400,A700,A700);
$warn	:  mat-palette($mat-amber);

$theme: mat-light-theme($primary, $accent,$warn);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: mat-palette($mat-pink, 700, 500, 900);
  $dark-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn:    mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
